@model course.Models.Clothing

@{
    ViewData["Title"] = "Details";
}

@{ 
    Layout = "_AdminLayout";
}

<h3>Детали</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Категория
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            Стоимость
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            Материал
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class="col-sm-2">
            Количество заказов
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Count
        </dd>
        <dt class="col-sm-2">
            Общая сумма заказов
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Sum
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ClothingId">Редактировать</a>
    <a class="btn btn-info" asp-action="Index">Назад</a>
</div>
