@model IEnumerable<IndividualOrder>
@{
    ViewData["Title"] = "AddIndividual";
}

@{ 
    Layout = "_MastersLayout";
}

<table class="table table-hover table-borderless" style="border-bottom:none;border-right:none;">
    <thead>
        <tr>
            <th>
                Описание заказа
            </th>
            <th>
                Имя клиента
            </th>
            <th>
                Номер клиента
            </th>
            <th>
                Дата заказа
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @{
                    var localtime = item.OrderingTime.UtcDateTime.ToLocalTime();
                    @Html.DisplayFor(modelItem => localtime);
                }
            </td>
            <td style="border:none;">
                <a class="btn btn-primary" asp-action="AddInd" asp-route-id="@item.OrderId">Взять</a>
            </td>
        </tr>
        }
    </tbody>
</table>