@model IEnumerable<IndividualOrder>
@{
    ViewData["Title"] = "AddIndividual";
}


<table class="table">
    <thead>
        <tr>
            <th>
                Описание заказа
            </th>
            <th>
                Имя клиента
            </th>
            <th>
                Номер клиента
            </th>
            <th>
                Стоимость
            </th>
            <th>
                Дата заказа
            </th>
            <th>
                Дата выполнения
            </th>
            <th>
                Статус
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @{
                    var localtime = item.OrderingTime.UtcDateTime.ToLocalTime();
                    @Html.DisplayFor(modelItem => localtime);
                }
            </td>
            <td>
                @{
                    var sewing = item.SewingDate.UtcDateTime.ToLocalTime();
                    @Html.DisplayFor(modelItem => sewing);
                }
            </td>
            <td>
                @if (item.isCompleted == 0)
                {
                    <span>Не выполнен</span>
                }
                else
                {
                    <span>Выполнен</span>
                }
            </td>
            <td>
                @if (item.isCompleted == 0)
                {
                <a asp-action="markcompletedind" asp-route-id="@item.OrderId">Отметить как выполненный</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<a asp-action="menu">Назад</a>